@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #1b00a1 0%, #000000 100%);
}

p {
    color: aquamarine;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link .active {
    color: rgb(252, 252, 252);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: rgb(143, 141, 141);
}

.navbar-brand img {
    width: 40px;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: black !important;
}

.navbar-toggler {
    background-color: rgb(143, 141, 141);
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(90deg, #1b00a1 0%, #000000 100%);

}

.card {
    background: linear-gradient(90deg, #1b00a1 0%, #000000 100%);
    color: aquamarine;

}

.card a {

    text-decoration: none;
    color: aquamarine;

}

.btn-outline-primary,
footer {
    background: linear-gradient(270deg, #1b00a1 0%, #000000 100%);

}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@media(max-width:755px) {
    .carousel-indicators {
        display: none;
    }
}